.navbar-brand-h4 {
  font-family: "Red Rose", cursive;
  padding: 8px;
  font-weight: 800;
  font-size: 20px;
}
.navbar-content {
  font-family: "Red Rose", cursive;
}
.nav-brand {
  padding: 10px;
}
